body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-size: 1365px 900px;
    background-image: url(rentbackE.avif); 
    background-repeat: no-repeat;
}
#mainTitle{
    font-size: 130px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.firstParagraphs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
#bookingSystem{
    width: 400px;
    height:60px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 0.5px;
    border-radius: 30px;
}